@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
	font-family: "Roboto", sans-serif;
}
/* Bỏ ouline của button khi click */
:focus {
	outline: 0 !important;
	box-shadow: none !important;
}
header {
	background: #4a90e2;
	height: 50px;
	margin-bottom: 15px;
}
header .main-logo {
	font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 2px;
}
header .nav-link {
	background-color: #fff;
    margin-left: 8px;
    margin-top: 4px;
    width: 100px;
    text-align: center;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid;
}
header .nav-link {
	color: #333;
}
header .nav-link.active {
	background-color: black;
	color: #fff;
}

.sub-header {
	border: 1px solid #333;
    border-radius: 5px;
    height: 46px;
    padding: 3px 3px;
    background: #e9ecef;
    color: #fff;
    margin-bottom: 10px;
}
.sub-header .sub-title {
	font-weight: 900;
    color: #333;
    padding-left: 20px;
    font-size: 20px;
    padding-top: 3px;
}

.action-btns {
	text-align: center;
	color: #4a90e2;
}

.modal-content .modal-header {
	padding: 0.5rem 1rem;
    background: #e9ecef;
}
.modal-content .modal-body {
	padding-bottom: 0.5rem; 
}
.preview-image-upload {
	text-align: center;
	margin-bottom: 5px;
}
.preview-image-upload img {
	max-width: 50%;
}
.message-area {
	padding: 5px 15px;
}
div.error-message-invalid, div.error, label.error-message-invalid, label.error {
    background-color: #f8d7da;
    position: relative;
    padding: .375rem .75rem;
    margin-top: .5rem;
    border: 1px solid #f5c6cb !important;
    color: #dc3545 !important;
    width: 100%;
    border-radius: .25rem;
}
/* Brand table */
.table-bordered img {
	max-width: 80px;
}
td {
	font-weight: 500;
	height: 50px;
	line-height: 50px;
}
.pagination a {
	display: block;
	color: #111;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	min-width: 40px;

}
.pagination a.active {
	color: #333;
	background-color: #ccc;
}
.pagination a.disabled {
	pointer-events: none;
	color: #ccc;
}
.page-item {
	display: block;
	margin: 0 5px;
} 
/* Ekko lightbox */
.ekko-lightbox .modal-header {
	display: block !important;
}
.ekko-lightbox .modal-content {
	border-radius: 5px;
}
.ekko-lightbox .modal-body {
	padding: 0.5rem;
}
.ekko-lightbox .modal-header {
	height: 0px;
	border: none;
	position: relative;
	padding: 0;
	z-index: 1;
}
.ekko-lightbox .modal-header .close, .ekko-lightbox .modal-header .close:hover {
	opacity: 1;
	color: #fff;
}
.ekko-lightbox .modal-header .close span {
	position: absolute;
	top: -10px;
	right: -10px;
	border: 1px solid #6c757d;
	background: #000;
	border-radius: 50%;
	padding: 0px 5px 4px 5px;
	font-size: 1.2rem;
}
.ekko-lightbox .modal-header .close:hover span {
	background: #212529;
}
.required-field {
	color: red;
	font-weight: bold;
}