.navbar {
	display: flex;
	justify-content: space-between;
}

.left {
	display: flex;
}

.logo {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}

.quantity {
	text-align: center;
	line-height: 50px;
	height: 30px;
}

.sale-date {
	min-width: 120px;
}

.table-bordered img {
	max-width: 50px;
}
/* GROUP COLUM */
.group-id-name-product, .group-quantity-price, .group-img-description {
	display: flex;
	justify-content: space-between;
}

.img-product {
	width: 41%;
}

.description {
	width: 48%;
}
/* END GROUP COLUMN */
/* SEARCH PRODCUT */
.search-area {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #f3f1f1;
}

.search-product {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

.search-product__name {
	width: 22%;
	display: flex;
	align-items: center;
}

.search-product__price {
	width: 55%;
	display: flex;
	align-items: center;
}

.btn-search {
	display: flex;
}

.price {
	width: 33%;
	margin: 0 0px 0 0;
	padding: 0 11px;
}

.price-labe {
	width: 13%;
	font-weight: 600;
	margin: 0 0 0 25px;
}

.price-labe-from {
	margin: 0 20px 0 0px;
}

#searchByPrice {
	margin-right: 10px;
}

.listBrand {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
}

.list-brand__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 14%;
	text-align: center;
	position: relative;
	border: 1px solid #e2e2e2;
}

input[type=checkbox], input[type=radio] {
	opacity: 0;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
}
input[type="checkbox"]:checked {
	opacity: 1;
}
/* Check change border of li */
.li-enable {
	border: 1px solid #52a2e1;
}
/* END SEARCH */
/*  RESULT SEARCH */
#resultSearch p {
	margin: 10px;
}
/* TABLE */
.logo-brand {
	width: 70%;
	height: 55px;
	border-radius: 4px;
}

.price-td {
	width: 12%;
	text-align: center;
	line-height: 50px;
	height: 30px;
}

.brand-logo {
	width: 41%;
}

.saleDate {
	width: 48%;
}

.price-form {
	width: 48%;
}

.quantity-form {
	width: 40%;
}

.quantity, .price-td, .sale-date, .no {
	text-align: center;
	line-height: 50px;
	height: 30px;
}

.brand-logo-td {
	/* text-align: center; */
	text-align: center;
	line-height: 50px;
	height: 30px;
}
/* END TABLE */
/* SHOW MORE, HIDDEN */
.show-more, .hidden-item {
	cursor: pointer;
	position: relative;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #288ad6;
	font-weight: 500;
	margin-left: 26px;
}

.icon, .icon-up {
	padding-left: 5px;
}

.icon-up {
	position: absolute;
	right: -15px;
	top: 26px;
}
/* END SHOW MORE */