/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.snack-bar-success{
    background: green;
    color: whitesmoke;
}
.snack-bar-success button{
    color: whitesmoke;
}
.snack-bar-fail{
    background-color: rgb(184, 30, 30);
    color: whitesmoke;
}
.snack-bar-fail button{
    color: whitesmoke;
}