* {
    margin: 0px;
    padding: 0px;
}

#show {
    border: 1px solid black;
    width: 60px;
    height: 20px;
    cursor: pointer;
    float: left;
    margin-left: 60px;
}

#hide {
    border: 1px solid black;
    width: 60px;
    height: 20px;
    cursor: pointer;
    float: left;
    margin-left: 60px;
}

#toggle {
    border: 1px solid black;
    width: 60px;
    height: 20px;
    cursor: pointer;
    float: left;
    margin-left: 60px;
}

.btbChange {
    border: 1px solid black;
    width: 60px;
    height: 20px;
    cursor: pointer;
    float: left;
    margin-left: 60px;
}