@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --text-color: #bae8ff;
  --blue-color: #4a90e2;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #333;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}
a:hover {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  background: #f3f3f3;
}
.top-banner {
  background-color: #ac0911;
}
/* Header START */
header {
  background: #4a90e2;
  height: 50px;
  color: var(--text-color);
}

.logo {
  cursor: pointer;
  display: block;
  width: 177px;
  height: 46px;
  background-position: 0px 11px;
  background-image: url(../images/icondesktop@1x.v202007011410.png);
}
/* Province */
.provinces-box {
  background-color: #3d78d7;
  width: 160px;
  height: 36px;
  border-radius: 5px;
  padding: 4px 5px;
  line-height: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  margin: 7px;
  position: relative;
}
.province {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--white-color);
  font-weight: 500;
  padding-right: 50px;
}
.province__option:hover {
  text-decoration: none;
}
.arrow-down {
  text-decoration: none;
  color: var(--white-color);
  position: absolute;
  top: 19px;
  left: 140px;
  font-size: 1.4rem;
}
/* Modal overlay */
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
/* Form province */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__body {
  background-color: #fff;
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 1;
  animation: growth linear 0.1s;
  border-radius: 5px;
}
.modal {
  display: none;
}
.form__choose {
  display: flex;
  flex-direction: column;
  padding: 15px 25px 0 10px;
  line-height: 1.6rem;
  width: 500px;
  height: 315px;
  background-color: var(--white-color);
  position: relative;
  border-radius: 5px;
}
.text-black {
  color: var(--black-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}
#form__choose--province {
  font-size: 1.5rem;
  width: 100%;
  height: 40px;
  margin: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
#form__choose--province:focus {
  border-color: #4a90e2;
}
.form__desc {
  display: flex;
  width: 100%;
}
.text-blue {
  margin: 6px 0 6px 10px;
  color: var(--blue-color);
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 5px;
}
.form__desc > p {
  margin: 6px 0 6px 0px;
  color: var(--black-color);
  font-size: 1.5rem;
}
#form__input {
  font-size: 1.5rem;
  width: 100%;
  height: 40px;
  margin: 10px 10px 0 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

#form__confirm {
  background-color: #f3f3f3;
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#confirm {
  background-color: #eb7c26;
  width: 450px;
  height: 36px;
  border-radius: 4px;
  border: 0;
  color: var(--white-color);
  font-size: 1.5rem;
  border-radius: 5px;
}
.btn-close {
  position: absolute;
  top: -13px;
  right: -13px;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.btn-close:before {
  content: "✕";
  display: block;
  width: 30px;
  height: 29px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--white-color);
  background-color: #000;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  border: 2px solid var(--white-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
  position: absolute;
  top: -3px;
  right: -3px;
}
/* Province END */
/* Search */
.search {
  display: flex;
  width: 314px;
  height: 36px;
  margin: 7px;
  padding-right: 10px;
  background-color: var(--white-color);
  border-radius: 4px;
}
.search__input {
  width: 289px;
  height: 36px;
  padding-left: 10px;
  font-size: 1.5rem;
  border-radius: 4px;
  border: 0;
  outline: none;
}
.search__item {
  display: block;
  text-decoration: none;
  width: 25px;
  height: 34px;
  background-position: -174px 10px;
  background-image: url(../images/icondesktop@1x.v202007011410.png);
}
/* Search END */
/* History */
#history-buy {
  display: block;
  width: 74px;
  height: 36px;
  padding: 2px 10px;
  margin-top: 7px;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.6rem;
  cursor: pointer;
}
#history-buy:hover {
  text-decoration: none;
}
/* History END */
/* Cart */
#cart-box {
  display: block;
  background-image: url(../images/icondesktop@1x.v202007011410.png);
  background-position: -265px 0;
  width: 26px;
  height: 20px;
  margin: 15px 0 0 5px;
}
/* Cart END */
/* Switchboard */
.right {
  display: flex;
  flex-wrap: wrap;
}
.switchboard {
  color: var(--white-color);
  width: 100px;
  height: 34px;
  margin: 9px 0px 9px 50px;
  font-size: 1.6rem;
  font-weight: 400;
  font-weight: bold;
}
.switchboard:hover {
  text-decoration: none;
  color: var(--white-color);
}
.switchboard span {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: normal;
}
/* switchboard END */
/* Experience  */
.icon-sort-down {
  font-size: 2rem;
  color: var(--white-color);
  padding: 0px 5px 0 7px;
}
.icon-sort-up {
  position: absolute;
  top: 23px;
  right: 11px;
  font-size: 2rem;
  color: var(--white-color);
}
.icon-sort-up {
  opacity: 0;
  visibility: hidden;
}
/* .icon-sort-down {
  opacity: 0;
  visibility: hidden;
} */
.experience {
  margin-top: 6px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}
.experience__heading {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--white-color);
}
.experience__desc {
  font-size: 1.2rem;
  color: var(--text-color);
}
.experience__btns {
  position: absolute;
  background-color: var(--white-color);
  top: 86%;
  right: -16px;
  font-size: 1.4rem;
  color: var(--black-color);
  min-width: 140px;
  box-shadow: 1px 6px 9px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.experience__btn {
  display: block;
  padding: 10px;
  color: var(--black-color);
}
.experience:hover .experience__btns {
  opacity: 1;
  visibility: visible;
}
.experience:hover .icon-sort-down {
  opacity: 0;
  visibility: hidden;
}
.experience:hover .icon-sort-up {
  opacity: 1;
  visibility: visible;
}
/* Experience end */
/* Navigation */
nav {
  background-color: var(--white-color);
  height: 50px;
  color: var(--blue-color);
}
.main-menu {
  color: var(--black-color);
  width: 240px;
  height: 50px;
  background-color: var(--white-color);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
.main-menu-dm {
  font-weight: bold;
}
.main-menu-icon {
  padding: 5px 10px 5px 6px;
}
.main-menu-icon-arrow {
  position: relative;
  top: -2px;
  left: 2px;
  padding-right: 15px;
  border-right: 1px solid #ccc;
}
.main-menu-xtc {
  padding-left: 15px;
  color: var(--blue-color);
}
.main-menu-xtc:hover {
  font-weight: bold;
}
/* Txt banner */
.txt-banner__list {
  display: flex;
  align-items: center;
  position: relative;
}
.hot-event .text {
  padding-left: 25px;
}
.hot-event .dot {
  width: 10px;
  height: 10px;
  background-color: #d0021b;
  border-radius: 100%;
  position: absolute;
  left: 21px;
  top: 48%;
  margin-top: -5px;
  display: block;
}
.hot-event .dot .ping {
  border: 1px solid #d0021b;
  width: 10px;
  height: 10px;
  opacity: 1;
  background-color: rgba(238, 46, 36, 0.2);
  border-radius: 100%;
  animation: sonar 1.25s linear infinite;
  display: block;
  margin: 0;
}
.txt-banner__list--item {
  padding: 0 20px;
  font-size: 1.4rem;
  color: var(--black-color);
  border-left: 1px solid #ccc;
}
.txt-banner__list--item:hover {
  text-decoration: none;
}

@-webkit-keyframes sonar {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes sonar {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
  }
}
/* Navigation END */
/* Mixed main */
.mixed-area {
  max-height: 400px;
  height: 370px;
}
/* Navigation details */
/* Sub-item */
.local-nav {
  width: 240px;
}
.list-nav-item {
  font-size: 1.4rem;
  background-color: var(--white-color);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
.list-nav-item li.nav-item:last-child {
  border-bottom: none;
  padding-bottom: 15px;
}
.icon-dmx {
  display: inline-block;
  background-image: url(../images/icondesktop@1x.v202007011410.png);
  width: 20px;
  height: 21px;
  margin-bottom: -5px;
  opacity: 0.7;
}
.icon-dmx.icon-tivi {
  background-position: 0 -152px;
}
.icon-dmx.icon-tulanh {
  background-position: -19px -158px;
}
.icon-dmx.icon-maygiat {
  background-position: -37px -158px;
}
.icon-dmx.icon-maylanh {
  background-position: -59px -153px;
}
.icon-dmx.icon-locnuoc {
  background-position: -145px -157px;
}
.icon-dmx.icon-dgd {
  background-position: -84px -155px;
}
.icon-dmx.icon-ddgd {
  background-position: -103px -156px;
}
.icon-dmx.icon-dt {
  background-position: -124px -157px;
}
.icon-dmx.icon-mb {
  background-position: -521px -176px;
}
.icon-dmx.icon-pk {
  background-position: -169px -155px;
}
.icon-dmx.icon-sim {
  background-position: -191px -152px;
}
.icon-dmx.icon-mc {
  background-position: -214px -155px;
}
.nav-item {
  display: block;
  padding: 5px;
  margin: 0 15px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.sup-menu:hover {
  font-weight: bold;
}
.nav-item:hover .icon-dmx {
  opacity: 1;
}
.icon-right {
  position: absolute;
  top: 9px;
  right: 8px;
  font-size: 1.2rem;
  color: #aaa;
}
.nav-item .sup-menu a {
  text-align: center;
  color: var(--gray-color);
  font-size: 1.4rem;
  padding-left: 3px;
  margin-bottom: 5px;
}
.nav-item .sup-menu a:hover {
  text-decoration: none;
  color: var(--blue-color);
}
.sup-menu {
  position: relative;
  width: 220px;
}
.sup-menu:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
/* Sub-menu */
.sub-menu {
  padding-top: 10px;
  display: flex;
  position: absolute;
  top: -5px;
  left: 221px;
  min-width: 480px;
  height: 369px;
  background-color: var(--white-color);
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
ul .group {
  min-width: 235px;
}
.group-title {
  padding: 10px 10px 5px 0;
  border-bottom: 1px solid #ccc;
  margin: 0 20px 0 10px;
}
.sub-menu .item {
  padding: 10px;
}
.sub-menu .item:hover a {
  color: var(--blue-color);
  text-decoration: none;
}
.sup-menu .sub-menu-2 {
  position: absolute;
  top: -35px;
  right: 0;
}
.sub-menu.sub-menu-3 {
  position: absolute;
  top: -65px;
  right: 0;
}
.sub-menu.sub-menu-4 {
  position: absolute;
  top: -96px;
  right: 0;
}
.sub-menu.sub-menu-5 {
  position: absolute;
  top: -125px;
  right: 0;
}
.sup-menu:hover .sub-menu-5 {
  opacity: 1;
  visibility: visible;
  min-width: 247px;
}
.sub-menu.sub-menu-6 {
  position: absolute;
  top: -155px;
  right: 0;
}
.sup-menu:hover .sub-menu-6 {
  opacity: 1;
  visibility: visible;
  min-width: 750px;
}
.sub-menu.sub-menu-7 {
  position: absolute;
  top: -185px;
  right: 0;
}
.sub-menu.sub-menu-8 {
  position: absolute;
  top: -215px;
  right: 0;
}
.sup-menu:hover .sub-menu-8 {
  opacity: 1;
  visibility: visible;
  min-width: 750px;
}
.sub-menu.sub-menu-9 {
  position: absolute;
  top: -245px;
  right: 0;
}
.sub-menu.sub-menu-10 {
  position: absolute;
  top: -275px;
  right: 0;
}
.sup-menu:hover .sub-menu-10 {
  opacity: 1;
  visibility: visible;
  min-width: 750px;
}
.sub-menu.sub-menu-12 {
  position: absolute;
  top: -335px;
  right: 0;
}
.sup-menu:hover .sub-menu-12 {
  opacity: 1;
  visibility: visible;
  min-width: 980px;
}
.item__link {
  font-weight: normal;
}
.view-all {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  color: var(--blue-color) !important;
}
/* Item new */
.item-new {
  width: 10px;
  height: 15px;
  background-color: #d0021b;
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--white-color);
  padding: 5px;
  /* margin-bottom: 2px; */
}
strong {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  padding-right: 10px;
}
/* Navigation details END */

/* Carousel sale */
.carousel-sale {
  width: 710px;
  padding: 10px;
}
footer {
  background: #fff;
}
