.search-bar .form-inline {
	justify-content: space-between;;
}
form#productInputForm .modal-body .form-group input.upload-img {
	padding: 5px 5px 5px 12px;
}
form#productInputForm .modal-body .form-group input.upload-img button {
	height: 95%;
}
table thead th {
	font-size: .85rem;
}
table tbody td {
	font-size: .8rem;
}
.table td, .table th {
	padding: .5em;
}
.modal-body .preview-img-upload img {
    max-width: 45%;
}
.form-group label, .form-group input, .form-group textarea, .form-group select {
	font-size: .8rem;
}
.form-group {
	margin-bottom: .3rem;
}
.modal-body .form-group .form-control {
	height: calc(1.3em + .75rem + 2px);
}
.form-group #priceFrom, .form-group #priceTo {
	cursor: text;
}
.product-search div.err-message-invalid {
	width: auto;
    font-size: .8rem;
    position: absolute;
    margin-top: 80px;
    opacity: .95;
    margin-left: 77px;
    padding: .3rem .5rem;
}
.product-search #prodSearchBtn {
	padding-top: 6px;
    padding-bottom: 9px;
}
.modal-footer .btn {
	font-size: .9rem;
}
.modal-body div.err-message-invalid {
	margin-bottom: 0;
}